dtf-project-archetype/src/test/resources/testsuite.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.dextratech.com/testsuite"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:ts="http://www.dextratech.com/testsuite">

	<element name="testsuite" type="ts:testsuite"></element>
	<element name="validationFunctions" type="ts:validationRules"></element>
	<element name="components" type="ts:components"></element>

	<complexType name="components">
		<sequence>
			<element name="component" type="ts:component" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="testsuite">
		<sequence>
			<element name="name" maxOccurs="1" minOccurs="1" type="ts:elementName">
			</element>
			<element name="testcase" type="ts:testcase"
				maxOccurs="unbounded" minOccurs="0">
			</element>
			<element name="component" type="ts:component"
				maxOccurs="unbounded" minOccurs="0">
			</element>
			<element name="validationRules" type="ts:validationRules" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="actionOption">
		<sequence>
			<choice maxOccurs="unbounded" minOccurs="0">
				<element name="field" type="ts:field" maxOccurs="unbounded" minOccurs="0"></element>
				<element name="action" type="ts:action" maxOccurs="unbounded" minOccurs="0"></element>
				<element name="assert" type="ts:assertion" maxOccurs="unbounded" minOccurs="0"></element>
				<element name="custom" type="ts:genericCommand" maxOccurs="unbounded" minOccurs="0"></element>
				<element name="include" type="ts:include" maxOccurs="unbounded" minOccurs="0"></element>
				<element name="onload" type="ts:onload" maxOccurs="unbounded" minOccurs="0"></element>
				<element name="captureScreenshot" type="ts:captureScreenshot" maxOccurs="unbounded" minOccurs="0"></element>
			</choice>
		</sequence>
	</complexType>

	<complexType name="testcase">
		<complexContent>
			<extension base="ts:actionOption">
				<sequence>
					<element name="afterErrorActions" type="ts:actionOption" maxOccurs="1" minOccurs="0">
						<annotation>
							<documentation>
								All fields and actions in the error actions element will be executed without accomplish none of the validation element or errorStep attribute, only valid values will be
								considered.
							</documentation>
						</annotation>
					</element>
				</sequence>
				<attribute name="name" type="ts:elementName">

				</attribute>
				<attribute name="url" type="string"></attribute>
				<attribute name="success" type="boolean"></attribute>
				<attribute name="run" type="boolean" default="true"></attribute>
				<attribute name="runDefault" type="boolean" default="true"></attribute>
				<attribute name="defaultAssert" type="ts:elementName"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="component">
		<complexContent>
			<extension base="ts:actionOption">
				<attribute name="name" type="string"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="field">
		<sequence>
            <element name="validValueDef" type="ts:validFieldValue" maxOccurs="1" minOccurs="0">
            	<annotation>
            		<documentation>Attribute validValue is mandatory over validValueDef, but only if validValue is present.</documentation>
            	</annotation></element>
            <choice maxOccurs="unbounded" minOccurs="0">
				<element name="validate" type="ts:validation" maxOccurs="unbounded" minOccurs="0"></element>
				<element name="validateFunction" type="ts:validationFunction" maxOccurs="unbounded" minOccurs="0"></element>
				<element name="validateFunctionRef" type="ts:validationFunctionRef" maxOccurs="unbounded" minOccurs="0"></element>

			</choice>
		</sequence>
		<attribute name="name" use="required" type="ts:elementName">
			<annotation>
				<documentation>
					A name for this field to use in the report.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="locatorType" type="ts:locatorType" default="id">
		</attribute>
		<attribute name="locatorValue" type="string"></attribute>
		<attribute name="validValue">
            <annotation>
            	<documentation>Attribute validValue is mandatory over validValueDef, but only if validValue is present.</documentation>
            </annotation>
            <simpleType>
				<restriction base="string">
					<minLength value="0"></minLength>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="errorStep" type="boolean" default="false"></attribute>
	</complexType>

	<complexType name="validation" mixed="true">
		<annotation>
			<documentation>The field and test case will had different behavior depending on the selected validation function.</documentation>
		</annotation>
		<attribute name="name" use="required" type="ts:elementName">

		</attribute>
		<attribute name="valid" type="boolean" default="true"></attribute>
		<attribute name="assertId" type="ts:elementName"></attribute>
	</complexType>

	<simpleType name="locatorType">
		<restriction base="string">
			<enumeration value="id" />
			<enumeration value="name" />
			<enumeration value="css" />
			<enumeration value="link" />
			<enumeration value="xpath" />
			<enumeration value="nothing" />
		</restriction>
	</simpleType>

	<complexType name="action">
		<attribute name="actionType" type="ts:seleneseCommand"></attribute>
		<attribute name="locatorType" type="ts:locatorType" default="id">
		</attribute>
		<attribute name="locatorValue" type="string"></attribute>
		<attribute name="additionalParameter" type="string"></attribute>
		<attribute name="errorStep" type="boolean" default="false"></attribute>
	</complexType>

	<complexType name="include">
		<attribute name="componentName" type="string"></attribute>
	</complexType>

	<complexType name="onload">
		<attribute name="action" type="ts:onloadAction" default="closeAlert">
		</attribute>
		<attribute name="errorStep" type="boolean" default="false"></attribute>
	</complexType>

	<simpleType name="onloadAction">
		<restriction base="string">
			<enumeration value="closeAlert" />
		</restriction>
	</simpleType>

	<complexType name="assertion">
		<annotation>
			<documentation>An assertion may require one or two parameters, depending on the type of the choosen assertion.</documentation>
		</annotation>
        <attribute name="id" type="ts:elementName"></attribute>
        <attribute name="type" type="ts:seleneseAssertion"></attribute>
		<attribute name="param1" type="string"></attribute>
		<attribute name="param2" type="string"></attribute>
		<attribute name="errorStep" type="boolean" default="false"></attribute>
	</complexType>

	<complexType name="genericCommand">
		<annotation>
			<documentation>
				All command types have this basic format.
			</documentation>
		</annotation>
		<attribute name="name" type="string"></attribute>
		<attribute name="target" type="string"></attribute>
		<attribute name="value" type="string"></attribute>
		<attribute name="errorStep" type="boolean" default="false"></attribute>
	</complexType>
	
	<complexType name="functionRef">
        <annotation>
        	<documentation></documentation>
        </annotation>		<attribute name="functionRefId" use="required" type="ts:elementName">
			<annotation>
				<documentation>
					Refers to the ID of a Function object. The valid
					flag of the Function element wich the functionRefId
					refers will be overriden.
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="validationFunctionRef">
		<complexContent>
			<extension base="ts:functionRef">
				<attribute name="name" use="optional" type="ts:elementName">
					<annotation>
						<documentation>Can be omited. Only functionRef elements allows empty or null name attribute. But, if the name is present, have precedence over functionRefId.</documentation>
					</annotation>
				</attribute>
				<attribute name="valid" type="boolean" default="true">
					<annotation>
						<documentation>Overrides the value of the valid attribute of the Function object wich one refers to.</documentation>
					</annotation>
				</attribute>
				<attribute name="assertId" type="ts:elementName"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="function">
		<annotation>
			<documentation><![CDATA[Prepare validation functions to use in the <validate> tag of the field elements in a test case.]]></documentation>
		</annotation>
		<choice maxOccurs="1" minOccurs="1">
			<sequence maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation></documentation>
				</annotation>
				<element name="pattern" type="string" maxOccurs="1"
					minOccurs="1" block="substitution">
					<annotation>
						<documentation>Only useful when functionType=string is selected.
						</documentation>
					</annotation>
				</element>
			</sequence>
			<sequence maxOccurs="1" minOccurs="0">
				<element name="length" type="int" maxOccurs="1"
					minOccurs="1">
					<annotation>
						<documentation>Represents a character or digit length for a value. Useful when functionType=string or integer or float is selected.
						</documentation>
					</annotation>
				</element>
			</sequence>
			<sequence maxOccurs="1" minOccurs="0">
				<element name="value" type="string" maxOccurs="1"
					minOccurs="1">
					<annotation>
						<documentation>Can appear with any functionType for now. This is used to set a static value.
						</documentation>
					</annotation>
				</element>
			</sequence>
			<sequence>
				<element name="minValue" type="double" maxOccurs="1"
					minOccurs="1">
					<annotation>
						<documentation>Only useful when functionType=integer or float is selected.
						</documentation>
					</annotation>
				</element>
				<element name="maxValue" type="double" maxOccurs="1"
					minOccurs="1">
					<annotation>
						<documentation>Only useful when functionType=integer or float is selected.
						</documentation>
					</annotation>
				</element>
			</sequence>

			<sequence maxOccurs="1" minOccurs="0">
				<element name="dateFormat" maxOccurs="1" minOccurs="1" default="dd/MM/yyyy"
					type="ts:dateFormat">
                    <annotation>
                    	<documentation>DateFormat element is used with function types: date, dateFormat and today.</documentation>
                    </annotation>
				</element>
			</sequence>

			<sequence maxOccurs="1" minOccurs="0"><element name="customDateFormat" type="string" maxOccurs="1" minOccurs="1">
	<annotation>
		<documentation>CustomDateFormat element is used with function types: date, dateFormat and today.</documentation>
	</annotation></element></sequence>
		</choice>
		<attribute name="type" type="ts:functionType" use="required">
			<annotation>
				<documentation>
					The inner elements mus be used considering the
					function type used.
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="validationFunction">
		<complexContent>
			<extension base="ts:function">
				<attribute name="id" use="required" type="ts:elementName"></attribute>
				<attribute name="valid" type="boolean" default="true"></attribute>
				<attribute name="assertId" type="ts:elementName"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="validationRules">
		<sequence>
			<element name="function" type="ts:validationFunction"
				maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>

	<simpleType name="functionType">
        <annotation>
        	<documentation></documentation>
        </annotation>
        <restriction base="string">
			<enumeration value="string"></enumeration>
			<enumeration value="integer"></enumeration>
			<enumeration value="float"></enumeration>
			<enumeration value="date"></enumeration>
			<enumeration value="dateTime"></enumeration>
			<enumeration value="today"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="dateFormat">
		<annotation>
			<documentation>Based on these pattern rules:
Letter	Date or Time Component					Presentation			Examples
G		Era designator							Text					AD
y		Year									Year					1996; 96
Y		Week year								Year					2009; 09
M		Month in year							Month					July; Jul; 07
w		Week in year							Number					27
W		Week in month							Number					2
D		Day in year								Number					189
d		Day in month							Number					10
F		Day of week in month					Number					2
E		Day name in week						Text					Tuesday; Tue
u		Day number of week (1 = Monday, ..., 7 = Sunday)	Number			1
a		Am/pm marker							Text					PM
H		Hour in day (0-23)						Number					0
k		Hour in day (1-24)						Number					24
K		Hour in am/pm (0-11)					Number					0
h		Hour in am/pm (1-12)					Number					12
m		Minute in hour							Number					30
s		Second in minute						Number					55
S		Millisecond								Number					978
z		Time zone								General time zone		Pacific Standard Time; PST; GMT-08:00
Z		Time zone								RFC 822 time zone		-0800
X		Time zone								ISO 8601 time zone		-08; -0800; -08:00
			</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="dd/MM/yyyy"></enumeration>
			<enumeration value="yyyy.MM.dd"></enumeration>
			<enumeration value="yyyy.MM.dd G 'at' HH:mm:ss z"></enumeration>
			<enumeration value="h:mm a"></enumeration>
			<enumeration value="hh 'o''clock' a, zzzz"></enumeration>
			<enumeration value="K:mm a, z"></enumeration>
			<enumeration value="EEE, MMM d, ''yy"></enumeration>
			<enumeration value="EEE, d MMM yyyy HH:mm:ss Z"></enumeration>
			<enumeration value="yyMMddHHmmssZ"></enumeration>
			<enumeration value="yyyy-MM-dd"></enumeration>
			<enumeration value="yyyy-MM-dd'T'HH:mm:ss.SSSZ"></enumeration>
			<enumeration value="yyyy-MM-dd'T'HH:mm:ss.SSSXXX"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="seleneseCommand">
		<restriction base="string">
			<enumeration value="click" />
			<enumeration value="doubleClick" />
			<enumeration value="contextMenu" />
			<enumeration value="clickAt" />
			<enumeration value="doubleClickAt" />
			<enumeration value="contextMenuAt" />
			<enumeration value="fireEvent" />
			<enumeration value="focus" />
			<enumeration value="keyPress" />
			<enumeration value="shiftKeyDown" />
			<enumeration value="shiftKeyUp" />
			<enumeration value="metaKeyDown" />
			<enumeration value="metaKeyUp" />
			<enumeration value="altKeyDown" />
			<enumeration value="altKeyUp" />
			<enumeration value="controlKeyDown" />
			<enumeration value="controlKeyUp" />
			<enumeration value="keyDown" />
			<enumeration value="keyUp" />
			<enumeration value="mouseOver" />
			<enumeration value="mouseOut" />
			<enumeration value="mouseDown" />
			<enumeration value="mouseDownRight" />
			<enumeration value="mouseDownAt" />
			<enumeration value="mouseDownRightAt" />
			<enumeration value="mouseUp" />
			<enumeration value="mouseUpRight" />
			<enumeration value="mouseUpAt" />
			<enumeration value="mouseUpRightAt" />
			<enumeration value="mouseMove" />
			<enumeration value="mouseMoveAt" />
			<enumeration value="type" />
			<enumeration value="typeKeys" />
			<enumeration value="setSpeed" />
			<enumeration value="getSpeed" />
			<enumeration value="check" />
			<enumeration value="uncheck" />
			<enumeration value="select" />
			<enumeration value="addSelection" />
			<enumeration value="removeSelection" />
			<enumeration value="removeAllSelections" />
			<enumeration value="submit" />
			<enumeration value="open" />
			<enumeration value="openWindow" />
			<enumeration value="selectWindow" />
			<enumeration value="selectPopUp" />
			<enumeration value="deselectPopUp" />
			<enumeration value="selectFrame" />
			<enumeration value="getWhetherThisFrameMatchFrameExpression" />
			<enumeration value="getWhetherThisWindowMatchWindowExpression" />
			<enumeration value="waitForPopUp" />
			<enumeration value="chooseCancelOnNextConfirmation" />
			<enumeration value="chooseOkOnNextConfirmation" />
			<enumeration value="answerOnNextPrompt" />
			<enumeration value="goBack" />
			<enumeration value="refresh" />
			<enumeration value="close" />
			<enumeration value="isAlertPresent" />
			<enumeration value="isPromptPresent" />
			<enumeration value="isConfirmationPresent" />
			<enumeration value="getAlert" />
			<enumeration value="getConfirmation" />
			<enumeration value="getPrompt" />
			<enumeration value="getLocation" />
			<enumeration value="getTitle" />
			<enumeration value="getBodyText" />
			<enumeration value="getValue" />
			<enumeration value="getText" />
			<enumeration value="highlight" />
			<enumeration value="getEval" />
			<enumeration value="isChecked" />
			<enumeration value="getTable" />
			<enumeration value="getSelectedLabels" />
			<enumeration value="getSelectedLabel" />
			<enumeration value="getSelectedValues" />
			<enumeration value="getSelectedValue" />
			<enumeration value="getSelectedIndexes" />
			<enumeration value="getSelectedIndex" />
			<enumeration value="getSelectedIds" />
			<enumeration value="getSelectedId" />
			<enumeration value="isSomethingSelected" />
			<enumeration value="getSelectOptions" />
			<enumeration value="getAttribute" />
			<enumeration value="isTextPresent" />
			<enumeration value="isElementPresent" />
			<enumeration value="isVisible" />
			<enumeration value="isEditable" />
			<enumeration value="getAllButtons" />
			<enumeration value="getAllLinks" />
			<enumeration value="getAllFields" />
			<enumeration value="getAttributeFromAllWindows" />
			<enumeration value="dragdrop" />
			<enumeration value="setMouseSpeed" />
			<enumeration value="getMouseSpeed" />
			<enumeration value="dragAndDrop" />
			<enumeration value="dragAndDropToObject" />
			<enumeration value="windowFocus" />
			<enumeration value="windowMaximize" />
			<enumeration value="getAllWindowIds" />
			<enumeration value="getAllWindowNames" />
			<enumeration value="getAllWindowTitles" />
			<enumeration value="getHtmlSource" />
			<enumeration value="setCursorPosition" />
			<enumeration value="getElementIndex" />
			<enumeration value="isOrdered" />
			<enumeration value="getElementPositionLeft" />
			<enumeration value="getElementPositionTop" />
			<enumeration value="getElementWidth" />
			<enumeration value="getElementHeight" />
			<enumeration value="getCursorPosition" />
			<enumeration value="getExpression" />
			<enumeration value="getXpathCount" />
			<enumeration value="getCssCount" />
			<enumeration value="assignId" />
			<enumeration value="allowNativeXpath" />
			<enumeration value="ignoreAttributesWithoutValue" />
			<enumeration value="waitForCondition" />
			<enumeration value="setTimeout" />
			<enumeration value="waitForPageToLoad" />
			<enumeration value="waitForFrameToLoad" />
			<enumeration value="getCookie" />
			<enumeration value="getCookieByName" />
			<enumeration value="isCookiePresent" />
			<enumeration value="createCookie" />
			<enumeration value="deleteCookie" />
			<enumeration value="deleteAllVisibleCookies" />
			<enumeration value="setBrowserLogLevel" />
			<enumeration value="runScript" />
			<enumeration value="addLocationStrategy" />
			<enumeration value="captureScreenshot" />
			<enumeration value="captureEntirePageScreenshot" />
			<enumeration value="rollup" />
			<enumeration value="addScript" />
			<enumeration value="removeScript" />
			<enumeration value="useXpathLibrary" />
			<enumeration value="pause" />
			<enumeration value="echo" />
			<enumeration value="clickAndWait" />
			<enumeration value="selectAndWait" />
			<enumeration value="typeAndWait" />

			<enumeration value="store" />
			<enumeration value="storeAlert" />
			<enumeration value="storeAllButtons" />
			<enumeration value="storeAllFields" />
			<enumeration value="storeAllLinks" />
			<enumeration value="storeAllWindowIds" />
			<enumeration value="storeAllWindowNames" />
			<enumeration value="storeAllWindowTitles" />
			<enumeration value="storeAttribute" />
			<enumeration value="storeAttributeFromAllWindows" />
			<enumeration value="storeBodyText" />
			<enumeration value="storeConfirmation" />
			<enumeration value="storeCookie" />
			<enumeration value="storeCookieByName" />
			<enumeration value="storeCursorPosition" />
			<enumeration value="storeElementHeight" />
			<enumeration value="storeElementIndex" />
			<enumeration value="storeElementPositionLeft" />
			<enumeration value="storeElementPositionTop" />
			<enumeration value="storeElementWidth" />
			<enumeration value="storeEval" />
			<enumeration value="storeExpression" />
			<enumeration value="storeHtmlSource" />
			<enumeration value="storeLocation" />
			<enumeration value="storeMouseSpeed" />
			<enumeration value="storePrompt" />
			<enumeration value="storeSelectedId" />
			<enumeration value="storeSelectedIds" />
			<enumeration value="storeSelectedIndex" />
			<enumeration value="storeSelectedIndexes" />
			<enumeration value="storeSelectedLabel" />
			<enumeration value="storeSelectedLabels" />
			<enumeration value="storeSelectedValue" />
			<enumeration value="storeSelectedValues" />
			<enumeration value="storeSelectOptions" />
			<enumeration value="storeSpeed" />
			<enumeration value="storeTable" />
			<enumeration value="storeText" />
			<enumeration value="storeTitle" />
			<enumeration value="storeValue" />
			<enumeration value="storeWhetherThisFrameMatchFrameExpression" />
			<enumeration value="storeWhetherThisWindowMatchWindowExpression" />
			<enumeration value="storeXpathCount" />
			<enumeration value="storeAlertPresent" />
			<enumeration value="storeChecked" />
			<enumeration value="storeConfirmationPresent" />
			<enumeration value="storeCookiePresent" />
			<enumeration value="storeEditable" />
			<enumeration value="storeElementPresent" />
			<enumeration value="storeOrdered" />
			<enumeration value="storePromptPresent" />
			<enumeration value="storeSomethingSelected" />
			<enumeration value="storeTextPresent" />
			<enumeration value="storeVisible" />
		</restriction>
	</simpleType>

	<simpleType name="seleneseAssertion">
		<annotation>
			<documentation>Not bounded commands, because of a limitation of JAXB
				classes generator when number of enum element exceded.
				Use instead a GenericCommand type to allow these commands.

				assertWhetherThisFrameMatchFrameExpression
				assertNotWhetherThisFrameMatchFrameExpression
				verifyWhetherThisFrameMatchFrameExpression
				verifyNotWhetherThisFrameMatchFrameExpression
				waitForWhetherThisFrameMatchFrameExpression
				waitForNotWhetherThisFrameMatchFrameExpression

				assertWhetherThisWindowMatchWindowExpression
				assertNotWhetherThisWindowMatchWindowExpression
				verifyWhetherThisWindowMatchWindowExpression
				verifyNotWhetherThisWindowMatchWindowExpression
				waitForWhetherThisWindowMatchWindowExpression
				waitForNotWhetherThisWindowMatchWindowExpression

				assertAttributeFromAllWindows
				assertNotAttributeFromAllWindows
				verifyAttributeFromAllWindows
				verifyNotAttributeFromAllWindows
				waitForAttributeFromAllWindows
				waitForNotAttributeFromAllWindows

				assertAllWindowIds
				assertNotAllWindowIds
				verifyAllWindowIds
				verifyNotAllWindowIds
				waitForAllWindowIds
				waitForNotAllWindowIds

				assertAllWindowNames
				assertNotAllWindowNames
				verifyAllWindowNames
				verifyNotAllWindowNames
				waitForAllWindowNames
				waitForNotAllWindowNames

				assertAllWindowTitles
				assertNotAllWindowTitles
				verifyAllWindowTitles
				verifyNotAllWindowTitles
				waitForAllWindowTitles
				waitForNotAllWindowTitles

				assertElementPositionLeft
				assertNotElementPositionLeft
				verifyElementPositionLeft
				verifyNotElementPositionLeft
				waitForElementPositionLeft
				waitForNotElementPositionLeft

				assertElementPositionTop
				assertNotElementPositionTop
				verifyElementPositionTop
				verifyNotElementPositionTop
				waitForElementPositionTop
				waitForNotElementPositionTop

				assertCursorPosition
				assertNotCursorPosition
				verifyCursorPosition
				verifyNotCursorPosition
				waitForCursorPosition
				waitForNotCursorPosition

				assertMouseSpeed
				assertNotMouseSpeed
				verifyMouseSpeed
				verifyNotMouseSpeed
				waitForMouseSpeed
				waitForNotMouseSpeed

				assertXpathCount
				assertNotXpathCount
				verifyXpathCount
				verifyNotXpathCount
				waitForXpathCount
				waitForNotXpathCount

				assertCookie
				assertNotCookie
				verifyCookie
				verifyNotCookie
				waitForCookie
				waitForNotCookie

				assertCookieByName
				assertNotCookieByName
				verifyCookieByName
				verifyNotCookieByName
				waitForCookieByName
				waitForNotCookieByName

				assertCookiePresent
				assertCookieNotPresent
				verifyCookiePresent
				verifyCookieNotPresent
				waitForCookiePresent
				waitForCookieNotPresent
			</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="assertErrorOnNext" />
			<enumeration value="assertNotErrorOnNext" />
			<enumeration value="verifyErrorOnNext" />
			<enumeration value="verifyNotErrorOnNext" />
			<enumeration value="waitForErrorOnNext" />
			<enumeration value="waitForNotErrorOnNext" />

			<enumeration value="assertFailureOnNext" />
			<enumeration value="assertNotFailureOnNext" />
			<enumeration value="verifyFailureOnNext" />
			<enumeration value="verifyNotFailureOnNext" />
			<enumeration value="waitForFailureOnNext" />
			<enumeration value="waitForNotFailureOnNext" />

			<enumeration value="assertSelected" />
			<enumeration value="assertNotSelected" />
			<enumeration value="verifySelected" />
			<enumeration value="verifyNotSelected" />
			<enumeration value="waitForSelected" />
			<enumeration value="waitForNotSelected" />

			<enumeration value="assertAlert" />
			<enumeration value="assertNotAlert" />
			<enumeration value="verifyAlert" />
			<enumeration value="verifyNotAlert" />
			<enumeration value="waitForAlert" />
			<enumeration value="waitForNotAlert" />

			<enumeration value="assertAllButtons" />
			<enumeration value="assertNotAllButtons" />
			<enumeration value="verifyAllButtons" />
			<enumeration value="verifyNotAllButtons" />
			<enumeration value="waitForAllButtons" />
			<enumeration value="waitForNotAllButtons" />

			<enumeration value="assertAllFields" />
			<enumeration value="assertNotAllFields" />
			<enumeration value="verifyAllFields" />
			<enumeration value="verifyNotAllFields" />
			<enumeration value="waitForAllFields" />
			<enumeration value="waitForNotAllFields" />

			<enumeration value="assertAllLinks" />
			<enumeration value="assertNotAllLinks" />
			<enumeration value="verifyAllLinks" />
			<enumeration value="verifyNotAllLinks" />
			<enumeration value="waitForAllLinks" />
			<enumeration value="waitForNotAllLinks" />

			<enumeration value="assertAttribute" />
			<enumeration value="assertNotAttribute" />
			<enumeration value="verifyAttribute" />
			<enumeration value="verifyNotAttribute" />
			<enumeration value="waitForAttribute" />
			<enumeration value="waitForNotAttribute" />

			<enumeration value="assertBodyText" />
			<enumeration value="assertNotBodyText" />
			<enumeration value="verifyBodyText" />
			<enumeration value="verifyNotBodyText" />
			<enumeration value="waitForBodyText" />
			<enumeration value="waitForNotBodyText" />

			<enumeration value="assertConfirmation" />
			<enumeration value="assertNotConfirmation" />
			<enumeration value="verifyConfirmation" />
			<enumeration value="verifyNotConfirmation" />
			<enumeration value="waitForConfirmation" />
			<enumeration value="waitForNotConfirmation" />



			<enumeration value="assertElementHeight" />
			<enumeration value="assertNotElementHeight" />
			<enumeration value="verifyElementHeight" />
			<enumeration value="verifyNotElementHeight" />
			<enumeration value="waitForElementHeight" />
			<enumeration value="waitForNotElementHeight" />

			<enumeration value="assertElementIndex" />
			<enumeration value="assertNotElementIndex" />
			<enumeration value="verifyElementIndex" />
			<enumeration value="verifyNotElementIndex" />
			<enumeration value="waitForElementIndex" />
			<enumeration value="waitForNotElementIndex" />

			<enumeration value="assertElementWidth" />
			<enumeration value="assertNotElementWidth" />
			<enumeration value="verifyElementWidth" />
			<enumeration value="verifyNotElementWidth" />
			<enumeration value="waitForElementWidth" />
			<enumeration value="waitForNotElementWidth" />

			<enumeration value="assertEval" />
			<enumeration value="assertNotEval" />
			<enumeration value="verifyEval" />
			<enumeration value="verifyNotEval" />
			<enumeration value="waitForEval" />
			<enumeration value="waitForNotEval" />

			<enumeration value="assertExpression" />
			<enumeration value="assertNotExpression" />
			<enumeration value="verifyExpression" />
			<enumeration value="verifyNotExpression" />
			<enumeration value="waitForExpression" />
			<enumeration value="waitForNotExpression" />

			<enumeration value="assertHtmlSource" />
			<enumeration value="assertNotHtmlSource" />
			<enumeration value="verifyHtmlSource" />
			<enumeration value="verifyNotHtmlSource" />
			<enumeration value="waitForHtmlSource" />
			<enumeration value="waitForNotHtmlSource" />

			<enumeration value="assertLocation" />
			<enumeration value="assertNotLocation" />
			<enumeration value="verifyLocation" />
			<enumeration value="verifyNotLocation" />
			<enumeration value="waitForLocation" />
			<enumeration value="waitForNotLocation" />

			<enumeration value="assertPrompt" />
			<enumeration value="assertNotPrompt" />
			<enumeration value="verifyPrompt" />
			<enumeration value="verifyNotPrompt" />
			<enumeration value="waitForPrompt" />
			<enumeration value="waitForNotPrompt" />

			<enumeration value="assertSelectedId" />
			<enumeration value="assertNotSelectedId" />
			<enumeration value="verifySelectedId" />
			<enumeration value="verifyNotSelectedId" />
			<enumeration value="waitForSelectedId" />
			<enumeration value="waitForNotSelectedId" />

			<enumeration value="assertSelectedIds" />
			<enumeration value="assertNotSelectedIds" />
			<enumeration value="verifySelectedIds" />
			<enumeration value="verifyNotSelectedIds" />
			<enumeration value="waitForSelectedIds" />
			<enumeration value="waitForNotSelectedIds" />

			<enumeration value="assertSelectedIndex" />
			<enumeration value="assertNotSelectedIndex" />
			<enumeration value="verifySelectedIndex" />
			<enumeration value="verifyNotSelectedIndex" />
			<enumeration value="waitForSelectedIndex" />
			<enumeration value="waitForNotSelectedIndex" />

			<enumeration value="assertSelectedIndexes" />
			<enumeration value="assertNotSelectedIndexes" />
			<enumeration value="verifySelectedIndexes" />
			<enumeration value="verifyNotSelectedIndexes" />
			<enumeration value="waitForSelectedIndexes" />
			<enumeration value="waitForNotSelectedIndexes" />

			<enumeration value="assertSelectedLabel" />
			<enumeration value="assertNotSelectedLabel" />
			<enumeration value="verifySelectedLabel" />
			<enumeration value="verifyNotSelectedLabel" />
			<enumeration value="waitForSelectedLabel" />
			<enumeration value="waitForNotSelectedLabel" />

			<enumeration value="assertSelectedLabels" />
			<enumeration value="assertNotSelectedLabels" />
			<enumeration value="verifySelectedLabels" />
			<enumeration value="verifyNotSelectedLabels" />
			<enumeration value="waitForSelectedLabels" />
			<enumeration value="waitForNotSelectedLabels" />

			<enumeration value="assertSelectedValue" />
			<enumeration value="assertNotSelectedValue" />
			<enumeration value="verifySelectedValue" />
			<enumeration value="verifyNotSelectedValue" />
			<enumeration value="waitForSelectedValue" />
			<enumeration value="waitForNotSelectedValue" />

			<enumeration value="assertSelectedValues" />
			<enumeration value="assertNotSelectedValues" />
			<enumeration value="verifySelectedValues" />
			<enumeration value="verifyNotSelectedValues" />
			<enumeration value="waitForSelectedValues" />
			<enumeration value="waitForNotSelectedValues" />

			<enumeration value="assertSelectOptions" />
			<enumeration value="assertNotSelectOptions" />
			<enumeration value="verifySelectOptions" />
			<enumeration value="verifyNotSelectOptions" />
			<enumeration value="waitForSelectOptions" />
			<enumeration value="waitForNotSelectOptions" />

			<enumeration value="assertSpeed" />
			<enumeration value="assertNotSpeed" />
			<enumeration value="verifySpeed" />
			<enumeration value="verifyNotSpeed" />
			<enumeration value="waitForSpeed" />
			<enumeration value="waitForNotSpeed" />

			<enumeration value="assertTable" />
			<enumeration value="assertNotTable" />
			<enumeration value="verifyTable" />
			<enumeration value="verifyNotTable" />
			<enumeration value="waitForTable" />
			<enumeration value="waitForNotTable" />

			<enumeration value="assertText" />
			<enumeration value="assertNotText" />
			<enumeration value="verifyText" />
			<enumeration value="verifyNotText" />
			<enumeration value="waitForText" />
			<enumeration value="waitForNotText" />

			<enumeration value="assertTitle" />
			<enumeration value="assertNotTitle" />
			<enumeration value="verifyTitle" />
			<enumeration value="verifyNotTitle" />
			<enumeration value="waitForTitle" />
			<enumeration value="waitForNotTitle" />

			<enumeration value="assertValue" />
			<enumeration value="assertNotValue" />
			<enumeration value="verifyValue" />
			<enumeration value="verifyNotValue" />
			<enumeration value="waitForValue" />
			<enumeration value="waitForNotValue" />

			<enumeration value="assertAlertPresent" />
			<enumeration value="assertAlertNotPresent" />
			<enumeration value="verifyAlertPresent" />
			<enumeration value="verifyAlertNotPresent" />
			<enumeration value="waitForAlertPresent" />
			<enumeration value="waitForAlertNotPresent" />

			<enumeration value="assertChecked" />
			<enumeration value="assertNotChecked" />
			<enumeration value="verifyChecked" />
			<enumeration value="verifyNotChecked" />
			<enumeration value="waitForChecked" />
			<enumeration value="waitForNotChecked" />

			<enumeration value="assertConfirmationPresent" />
			<enumeration value="assertConfirmationNotPresent" />
			<enumeration value="verifyConfirmationPresent" />
			<enumeration value="verifyConfirmationNotPresent" />
			<enumeration value="waitForConfirmationPresent" />
			<enumeration value="waitForConfirmationNotPresent" />

			<enumeration value="assertEditable" />
			<enumeration value="assertNotEditable" />
			<enumeration value="verifyEditable" />
			<enumeration value="verifyNotEditable" />
			<enumeration value="waitForEditable" />
			<enumeration value="waitForNotEditable" />

			<enumeration value="assertElementPresent" />
			<enumeration value="assertElementNotPresent" />
			<enumeration value="verifyElementPresent" />
			<enumeration value="verifyElementNotPresent" />
			<enumeration value="waitForElementPresent" />
			<enumeration value="waitForElementNotPresent" />

			<enumeration value="assertOrdered" />
			<enumeration value="assertNotOrdered" />
			<enumeration value="verifyOrdered" />
			<enumeration value="verifyNotOrdered" />
			<enumeration value="waitForOrdered" />
			<enumeration value="waitForNotOrdered" />

			<enumeration value="assertPromptPresent" />
			<enumeration value="assertPromptNotPresent" />
			<enumeration value="verifyPromptPresent" />
			<enumeration value="verifyPromptNotPresent" />
			<enumeration value="waitForPromptPresent" />
			<enumeration value="waitForPromptNotPresent" />

			<enumeration value="assertSomethingSelected" />
			<enumeration value="assertNotSomethingSelected" />
			<enumeration value="verifySomethingSelected" />
			<enumeration value="verifyNotSomethingSelected" />
			<enumeration value="waitForSomethingSelected" />
			<enumeration value="waitForNotSomethingSelected" />

			<enumeration value="assertTextPresent" />
			<enumeration value="assertTextNotPresent" />
			<enumeration value="verifyTextPresent" />
			<enumeration value="verifyTextNotPresent" />
			<enumeration value="waitForTextPresent" />
			<enumeration value="waitForTextNotPresent" />

			<enumeration value="assertVisible" />
			<enumeration value="assertNotVisible" />
			<enumeration value="verifyVisible" />
			<enumeration value="verifyNotVisible" />
			<enumeration value="waitForVisible" />
			<enumeration value="waitForNotVisible" />

		</restriction>
	</simpleType>
	

	<complexType name="captureScreenshot">
		<attribute name="pngFilename" use="optional">
			<simpleType>
				<restriction base="string">
					<minLength value="1"></minLength>
					<maxLength value="50"></maxLength>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="directory" type="string"></attribute>
	</complexType>

	<simpleType name="elementName">
		<restriction base="string">
			<pattern value="[a-zA-Z_$][a-zA-Z_$0-9\s]*"></pattern>
			<minLength value="1"></minLength>
			<maxLength value="100"></maxLength>
		</restriction>
	</simpleType>

	<complexType name="validFieldValue">
		<sequence maxOccurs="1" minOccurs="1">

			<choice maxOccurs="1" minOccurs="1">
				<element name="literal" type="string" maxOccurs="1" minOccurs="1"></element>
				<element name="function" type="ts:function" maxOccurs="1" minOccurs="1"></element>
                <element name="functionRef" type="ts:functionRef" maxOccurs="1" minOccurs="1"></element>
            </choice>

		</sequence>
	</complexType>
</schema>